<md-content layout-gt-sm="row" layout-padding>

    <!--<md-content layout-padding layout="row"  layout-align="start end">-->
    <div>
        <form name="searchForm">

            <md-input-container>
                <label>city</label>
                <input required="true" type="text" ng-model="city">
            </md-input-container>
            <md-button ng-click="retrieve()" class="md-raised btn-primary">View</md-button>
        </form>
    </div>
    <!--</md-content>-->

</md-content>
