<md-dialog aria-label="ფორმა">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="caps_children"><h2>{{FormTitle}}</h2></div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <form name="generalForm">
        <div ng-repeat="field in fields track by $index" >
            <div ng-if="field.type=='SELECT_FIELD'" ng-show="treeIndexInFields < 0 || fields[treeIndexInFields].model==field.parentId">
                <md-input-container>
                    <label>{{field.label}}</label>
                    <md-select ng-model="field.field_id" ng-required="field.isRequired && fields[treeIndexInFields].model==field.parentId" >
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="rec in field.items" ng-value="rec.value">{{rec.label}}</md-option>
                     </md-select>
                </md-input-container>
           </div>
           <div ng-if="field.type=='TEXT_FIELD'" ng-show="treeIndexInFields <0 ||  field.parentId==1?true:fields[treeIndexInFields].model==field.parentId">
                <md-input-container>
                    <label>{{field.label}}</label>
                    <input name="field.id" ng-model="field.model" ng-required="field.isRequired && field.parentId==1?true:fields[treeIndexInFields].model==field.parentId">
                </md-input-container>
            </div>

            <div ng-if="field.type=='NUMBER_FIELD'" ng-show="treeIndexInFields <0 ||  field.parentId==1?true:fields[treeIndexInFields].model==field.parentId">
                <md-input-container>
                    <label>{{field.label}}</label>
                    <input type="number" min="0" name="field.id" ng-model="field.model" ng-required="field.isRequired && field.parentId==1?true:fields[treeIndexInFields].model==field.parentId">
                </md-input-container>
            </div>

            <div  ng-if="field.type=='DATE_FIELD'" ng-show="treeIndexInFields < 0 ||  fields[treeIndexInFields].model==field.parentId">
                <label>{{field.label}}</label>
                <md-datepicker ng-model="field.model" md-placeholder="Enter date" md-open-on-focus ng-required="field.isRequired && fields[treeIndexInFields].model==field.parentId"></md-datepicker>
            </div>

            <div  ng-if="field.type=='selectTree'" >

                <label>{{field.label}}</label>
                <md-select ng-model="field.model" ng-required="true" ng-click="treeOnChange(field.model)" aria-label="dada">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="rec in hierarcialSelectBoxArr" ng-disabled = "rec.disabled" ng-value="rec.id">{{rec.label}}</md-option>
                </md-select>
                <!--<nested-combo-box control-class="col-md-7" control-disabled="isDisabled" change-event="changeItem"
                                  ng-model="field.model" collection="collection" options="{childrenParam: 'items'}"/>-->
            </div>
        </div>
        </form>

    </md-dialog-content>
    <md-dialog-actions layout="row">

        <md-button class="md-raised md-primary" ng-click="save()" ng-show="generalForm.$valid">
            დამახსოვრება
        </md-button>
    </md-dialog-actions>

</md-dialog>